---
import BaseLayout from "../../layout/BaseLayout.astro";
import formalizacionImage from "../../assets/images/formalizacion-empredimientos.jpg";

const seo = {
	title: "Formalización de Emprendimientos | Talleres Innovapaz",
	description:
		"Información acerca del taller Formalización de Emprendimientos del proyecto Innovapaz.",
};
---

<BaseLayout seo={seo}>
	<div class="container mx-auto max-w-4xl px-4 py-12">
		<div class="mb-12 text-center">
			<h1 class="mb-4 text-4xl font-bold lg:text-5xl">Formalización de Emprendimientos</h1>
			<h2 class="mb-4 text-2xl font-normal lg:text-3xl">Conoce los pasos clave para legalizar tu negocio y acceder a más oportunidades</h2>
		</div>
		<div class="mb-10">
			<img
				src={formalizacionImage.src}
				alt="Data Safe Haven hero image"
				class="h-auto w-full rounded-lg shadow-md"
			/>
		</div>

		<div class="mx-auto">
			<h2 class="mb-4 text-2xl font-semibold text-slate-700">
				Justificación
			</h2>
			<p class="mb-4 text-lg leading-relaxed text-slate-600">
				El emprendimiento es un pilar fundamental para el desarrollo económico y social de cualquier nación. 
				Mediante la creación de empresas, los emprendedores no solo satisfacen sus necesidades económicas, sino que también contribuyen al bienestar general. En el contexto de Innovapaz, es esencial apoyar la formalización de los emprendimientos como un paso clave hacia el fortalecimiento del tejido empresarial y la promoción de una economía más inclusiva y sostenible con el fin de contribuir a la paz de Colombia. La formalización de una empresa no solo la legitima ante el estado colombiano, sino que también abre puertas a nuevas oportunidades de crecimiento. 
				De ahí la importancia de que los emprendedores cuenten con la capacitación adecuada para gestionar este proceso de manera eficiente y clara.
			</p>
			<p class="mb-4 text-lg leading-relaxed text-slate-600">
				Este módulo jurídico-comercial permite a los emprendedores de Innovapaz identificar y realizar cada uno de los pasos necesarios para formalizar su empresa, cumpliendo con los requisitos fundamentales para operar legalmente y generar confianza tanto en el mercado como en los clientes.
			</p>

			<h2 class="mb-4 text-2xl font-semibold text-slate-700">
				Objetivo general
			</h2>
			<p class="mb-4 text-lg leading-relaxed text-slate-600">
				El objetivo general es que los emprendedores conozcan y realicen cada uno de los pasos fundamentales para la constitución y formalización de su empresa.			
			</p>
			
			<h2 class="mb-4 text-2xl font-semibold text-slate-700">
				Objetivos específicos
			</h2>
			<p class="mb-4 text-lg leading-relaxed text-slate-600">
				Con el fin de llevar a cabo la constitución y formalización de su empresa, el emprendedor debe llevar a cabo las siguientes actividades:
			</p>
			<ul class="mb-6 list-disc space-y-2 pl-5 text-lg text-slate-600">
				<li>
					Determinar si la actividad desarrollada cumple con los requisitos legales para ser considerada empresarial.
				</li>
				<li>
					Identificar si su empresa es micro, pequeña o mediana, según lo estipulado por las normas vigentes.
				</li>
				<li>
					Verificar la disponibilidad del nombre de la empresa y realizar el control de homonimia.
				</li>
				<li>
					Identificar el código CIIU correspondiente a la actividad que desea desarrollar.
				</li>
				<li>
					Asegurarse de que el uso del suelo en el lugar donde se ubicará la empresa sea el adecuado.
				</li>
				<li>
					Elaborar una propuesta inicial para el documento de constitución de una persona jurídica.
				</li>
				<li>
					Conocer los aspectos clave del formulario RUT de la DIAN.				
				</li>
				<li>
					Diligenciar los formularios de Registro Único Tributario (RUT) y otros registros complementarios.				
				</li>
				<li>
					Determinar el costo de los derechos de inscripción en la Cámara de Comercio.				
				</li>
				<li>
					Conocer los libros comerciales que deben ser inscritos en el registro mercantil.				
				</li>
			</ul>

			<h2 class="mb-4 text-2xl font-semibold text-slate-700">
				Competencias a desarrollar
			</h2>
			<p class="mb-4 text-lg leading-relaxed text-slate-600">
				El emprendedor desarrollará la capacidad para realizar todos los trámites legales necesarios para la constitución y formalización de su empresa, cumpliendo con los requisitos establecidos por la legislación colombiana y los organismos correspondientes.
			</p>
			
			<h2 class="mb-4 text-2xl font-semibold text-slate-700">
				Logros vinculados a las competencias
			</h2>
			<p class="mb-4 text-lg leading-relaxed text-slate-600">
				Durante el taller, los emprendedores podrán:
			</p>
			<ul class="mb-6 list-disc space-y-2 pl-5 text-lg text-slate-600">
				<li>
					Determinar si su actividad debe ser inscrita en el registro mercantil.				
				</li>
				<li>
					Comprender los beneficios de ser una MIPYME.
				</li>
				<li>
					Conocer las implicaciones legales de las diferentes formas jurídicas para empresas.
				</li>
				<li>
					Asegurarse de que el nombre comercial o razón social no esté registrado por otros.
				</li>
				<li>
					Verificar la viabilidad de la ubicación de su negocio.
				</li>
				<li>
					Elaborar un documento de constitución adecuado.
				</li>
				<li>
					Aprender a diligenciar los formularios necesarios para el registro ante la DIAN.
				</li>
				<li>
					Conocer los costos asociados a la inscripción en la Cámara de Comercio.				
				</li>
			</ul>

			<h2 class="mb-4 text-2xl font-semibold text-slate-700">
				Estrategias
			</h2>
			<p class="mb-4 text-lg leading-relaxed text-slate-600">
				El módulo se desarrollará a través de talleres prácticos, en los cuales los emprendedores podrán aplicar cada uno de los pasos requeridos para la formalización de su empresa. Al finalizar cada ejercicio, se les proporcionará la fuente teórica que respalda cada decisión, permitiéndoles comparar y tomar decisiones informadas.
			</p>
			
			<h2 class="mb-4 text-2xl font-semibold text-slate-700">
				Temario
			</h2>
			<ul class="mb-6 list-disc space-y-2 pl-5 text-lg text-slate-600">
				<li>
					¿Soy un emprendedor formal?
				</li>
				<li>
					¿Cómo clasificar mi empresa: micro, pequeña o mediana?
				</li>
				<li>
					¿Qué forma jurídica elegir para mi empresa?
				</li>
				<li>
					¿Qué tipo de persona jurídica debo crear?
				</li>
				<li>
					Registro mercantil: procedimiento y requisitos.
				</li>
				<li>
					Elaboración del documento de constitución.
				</li>
				<li>
					Contenido del documento de constitución.
				</li>
				<li>
					Inscripción en el RUT de la DIAN.
				</li>
				<li>
					Inscripción en la Cámara de Comercio.
				</li>
				<li>
					Pago de derechos de inscripción.
				</li>
				<li>
					Inscripción de libros comerciales.
				</li>
			</ul>
		</div>
	</div>
</BaseLayout>
